/* Body background Color set to black*/
body {
	background-color: black;
	color: white;
}

/* Header Dimension */
header {
	text-align: center;
	height: 120px;
	margin-top: 20px;
}
/* Hangmanlogo dimension*/
.hangmanlogo img {
	height: 200px;
	width: 500px;
}

/* Logo style */
.logostyle {
	text-align: center;
	height:90px;
	font-size: 50px;
	font-style: oblique;
	color: red;
	margin-top: 50px;
}

/* Game Information Layout */
.col-md-2 {
	border: medium dashed white;
	height: 500px;
	text-align: center;
}

#image-div img {
	margin-top: 20px;
	height: 100px;
	width: 150px;
}

/* Game Info Text */
.hangmanimage,
.gamestart,
#winner,
.currentword,
#underscore,
#numguessleft,
#guessletters,
.rightGuess,
.wrongGuess {
	padding-top: 30px;
}

/* Footer Style */
.primary-footer {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}