/* Body background Color set to black*/
body {
	background-color: black;
	color: white;
}

/* Header Dimension */
header {
	text-align: center;
	height: 120px;
	margin-top: 20px;
}

img {
	background: url("Hangman-Logo.png") 20px 50% no-repeat, linear-gradient(blue, pink, white);
	height: 100px;
	width: 75%;
}

span {
	margin-top: 50px;
}

/* Logo style */
.logostyle {
	text-align: center;
	height:90px;
	margin-bottom: 30px;
	font-variant-position: super;
	font-size: 100px;
	font-style: oblique;
	color: green;
}

/* Game Information */
.col-md-2 {
	border: medium dashed white;
	height: 500px;
	text-align: center;
}

/* Game Info Text */
.hangmanimage,
.gamestart,
#winner,
.currentword,
#underscore,
#numguessleft,
#guessletters,
.rightGuess,
.wrongGuess {
	padding-top: 30px;
}
